@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/simply-rounded');

:root {
    --color-defaultB: #000;
    --color-lightB: #eee;
    --color-defaultW: #fff;
    --color-principal: #0003ff;
    --color-principal2: #3335ff;
    --color-principal3: #4162EF;
    --color-red: #e74c3c;
    --color-dark-red: #c0392b;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

    --font-default: 'Montserrat', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    font-family: var(--font-default);
}

.bold {
    font-weight: bold;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-itens {
    align-items: center;
}

.j-content {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}



#opcao {
    text-align: center;
}

#amarelo {
    color: var(--color-principal);
    text-decoration: none;
}

/*LOGIN*/

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 40px;
    min-width: 560px;
    max-height: 450px;
    gap: 50px;
    background-color: var(--color-defaultW);
    border-radius: 10px;
    box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.25);
    transition: min-width 0.2s;
}


.title-form {
    font-size: 3.75em;
    color: var(--color-principal3);
}

.form-login-principal {
    gap: 40px;
    width: 90%;
}

.mid-form {
    gap: 10px;
    margin-bottom: -20px;
}

.form-login-principal .div-inputs {
    gap: 25px;
}

.form-login-principal .div-inputs input {
    outline: none;
    font-size: 1.10em;
    font-family: var(--font-default);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: var(--color-lightB);
    border-radius: 5px;
    max-width: 100%;
    padding: 16px;
}

.login-button {
    background-color: var(--color-principal3);
    color: var(--color-defaultW);
    border: none;
    letter-spacing: 5px;
    font-size: 1.4em;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px #7C95FF;
    transition: ease-out 0.2s;
}

.login-button:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}

.fail-login {
    color: rgb(255, 48, 48);
}

@media (max-width: 768px) {
    .form-box {
        transition: min-width 0.2s;
        min-width: 400px;
    }
}

/*Register*/

.button-close {
    position: absolute;
    top: 28px;
    left: 28px;
    transition: all 0.5s;
}

.button-close:hover {
    transform: rotate(90deg)
}


.body-register .form-box-register {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 40px;
    min-width: 700px;
    max-height: 800px;
    gap: 25px;
    background-color: var(--color-defaultW);
    border-radius: 10px;
    box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}


.body-register .title-form {
    font-size: 3.75em;
    color: var(--color-principal3);
    margin-top: -15px;
}

.body-register .div-inputs {
    gap: 25px;
    margin-top: 40px;
}

.body-register .div-inputs input {
    outline: none;
    font-size: 1.10em;
    font-family: var(--font-default);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: var(--color-lightB);
    border-radius: 5px;
    max-width: 100%;
    padding: 16px;

}

.span-required {
    color: #e63636;
    font-size: 0.9em;
    margin-top: -10px;
    display: none;
}

.cadastrar-button {
    border: none;
    background-color: var(--color-principal3);
    color: var(--color-defaultW);
    letter-spacing: 3px;
    font-size: 1.4em;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px #7C95FF;
    transition: ease-out 0.2s;
    width: 50%;
}


.cadastrar-button {
    width: 100%;
}

.cadastrar-button:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}

.form-group {
    width: 100%;
    gap: 15px
}



.form-register-principal {
    gap: 40px;
    width: 90%;
}

.select2-container--default .select2-selection--single {
    display: flex;
    align-items: center;
    font-size: 1.10em;
    font-family: var(--font-default);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: var(--color-lightB);
    border-radius: 5px;
    max-width: 100%;
    padding: 6px;
    height: 53px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 53px;
}


@media (max-width: 820px) {
    .body-register .div-inputs {
        flex-direction: column;
        gap: 15px;
    }

    .body-register .form-box-register {
        transition: all 0.2s;
        min-width: 400px;
    }
}






















/*---------------------------*/
/*----Formulario adotar------*/
/*---------------------------*/
/*---------------------------*/

.form-adotar {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
    padding: 30px 40px;
    min-width: 800px;
    max-height: 100%;
    background-color: var(--color-defaultW);
    border-radius: 5px;
    box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.25);
    transition: min-width 0.5s;
}

.conteudo-form-adotar {
    margin: 30px 0;
    gap: 40px;
}

.submit-button {
    background-color: var(--color-principal2);
    color: var(--color-defaultW);
    border: none;
    letter-spacing: 5px;
    font-size: 1.4em;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px #7C95FF;
    transition: ease-out 0.2s;
    width: 100%;
}

.submit-button:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}

.div-inputs-adotar {
    max-width: 100%;
    padding: 10px;
    gap: 20px;
}

.div-inputs-adotar input {
    font-size: 1.10em;
    font-family: var(--font-default);
    width: 360px;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: var(--color-lightB);
    border-radius: 5px;
    padding: 16px;
}

.div-inputs-adotar textarea {
    resize: none;
    font-size: 1.10em;
    font-family: var(--font-default);
    width: 360px;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: var(--color-lightB);
    border-radius: 5px;
    padding: 16px;
}

/* radios */

.radio-button-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-button__label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.radio-button__custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s ease;
}

.radio-button__input:checked+.radio-button__label .radio-button__custom {
    background-color: var(--color-principal3);
    border-color: transparent;
    transform: scale(0.8);
    box-shadow: 0 0 20px var(--color-principal3);
}

.radio-button__input:checked+.radio-button__label {
    color: var(--color-principal3);
}

.radio-button__label:hover .radio-button__custom {
    transform: scale(1.2);
    border-color: var(--color-principal3);
    box-shadow: 0 0 20px var(--color-principal3);
}

/* selects */

.select-menu {
    width: 380px;
}

.select-menu .select-btn {
    display: flex;
    height: 43px;
    background: #fff;
    padding: 10px;
    font-size: 1.10em;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option:hover {
    background: #F2F2F2;
}

.option i {
    font-size: 25px;
    margin-right: 12px;
    color: rgba(0, 0, 0, 0.7)
}

.option .option-text {
    font-size: 18px;
    color: #333;
}


@media(max-width:966px) {
    .form-adotar {
        transition: min-width 0.2s;
        min-width: 330px;


    }

    .conteudo-form-adotar {
        gap: 0px;
        flex-direction: column;
    }
}































/*---------------------------*/
/*----Quedo adotar-------------*/
/*---------------------------*/
/*---------------------------*/

.titulos-paginas {
    font-size: 2.5em;
    margin-bottom: 30px;
    font-weight: 500;
}

.principal-quero-doar {
    gap: 40px;
}

.principal-conteudo-quedo-doar {
    margin-top: 20px;
    box-sizing: border-box;
}

.barra-lateral-filtros {
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
    height: 50vh;
    min-width: 200px;
    background-color: rgba(0, 0, 0, 0.1);
}

.titulo-filtros {
    font-size: 2em;
}

.form-filtro {
    margin-top: 10px;
    gap: 10px;
}

.filtrar-button {
    height: 44px;
    border: none;
    background-color: var(--color-principal2);
    color: var(--color-defaultW);
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
    font-family: var(--font-default);
}

.animais-disponiveis {
    gap: 40px;
    flex-wrap: wrap;
}


.post-animal {
    position: relative;
    width: 334px;
    max-height: 600px;
    border-radius: 5px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.post-animal-nome {
    margin: 40px 0px 0px 34px;
    font-size: 1.25em;
}

.post-animal-descricao {
    margin: 8px 0px -8px 34px;
}

.post-animal-sexo {
    position: absolute;
    top: 266px;
    left: 127px;
    width: 80px;
}

.post-animal-button {
    height: 44px;
    border: none;
    background-color: var(--color-principal2);
    color: #fff;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 5px;
    width: 80%;
    margin: 27px 0px 20px 34px;
    font-family: var(--font-default);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.post-animal-button:hover {
    background-color: var(--color-defaultW);
    color: var(--color-principal2);
    border: 1px var(--color-principal2) inset;
    transition: all 0.2s ease-in;
}


.post-animal-img {
    border-radius: 5px 5px 0px 0px;
    height: 307px;
    object-fit: cover;
}

.paginacao-postagens {
    display: flex;
    justify-content: start;
    margin: 20px 0;
}

.paginacao-postagens span {
    transform: scale(1.2);
    font-size: 2em;
    padding: 3px 6px;
    border-radius: 5px;
    border: 2px solid var(--color-defaultw);
    background-color: var(--color-principal3);
    color: var(--color-defaultW);
}

.paginacao-postagens a {

    text-decoration: none;
    font-size: 2em;
    padding: 3px 6px;
    background-color: var(--color-principalW);
    color: var(--color-default3);
}

/* popup vermais */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 86;
}


.main-popup-vermais {
    max-width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 87;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    background-color: var(--color-defaultW);
    padding: 50px 38px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);

}


.main-popup-vermais.aberto {
    z-index: 87;
    position: fixed;
    transition: opacity 1s, visibility 1s;
    display: block;
    opacity: 1;
    visibility: visible;
}

.close-vermais {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 4em;
    cursor: pointer;
    transition: all 0.5s;
}

.close-vermais:hover {
    transform: rotate(90deg)
}

.principal-conteudo-vermais {
    gap: 35px;
}

.principal-conteudo-vermais img.img-animal-vermais {
    border-radius: 10px;
    max-width: 356px;
    height: 450px;
    object-fit: cover;
}

.inf-animal-vermais {
    width: 400px;
    word-wrap: break-word;
}

.quero-adotar-button {
    height: 64px;
    border: none;
    background-color: var(--color-principal2);
    color: #fff;
    font-size: 1.45em;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    font-family: var(--font-default);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.quero-adotar-button:hover {
    background-color: var(--color-defaultW);
    color: var(--color-principal2);
    border: 1px var(--color-principal2) inset;
    transition: all 0.2s ease-in;
}

.hr-vermais {
    border: 1px solid var(--color-principal3);
    height: 500px;
}

.secao-img-local {
    gap: 28px;
}

.localizacao-vermais i {
    font-size: 1.4em;
}

.localizacao-vermais {
    gap: 16px;
    align-items: center;
    font-size: 1.4em;
    color: var(--color-principal3);
    font-weight: bold;
}

.secao-inf-button {
    justify-content: space-between;
}

.inf-animal-vermais {
    gap: 8px;
    font-size: 1.4em;
}

.titulo-animal-vermais {
    font-size: 35px;
    color: var(--color-principal);
    font-weight: bold;
}

.titulo-classes-vermais {
    color: var(--color-principal3);
    font-size: 25px;
    font-weight: bold;
}

/* popup queroadotar */
#overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 88;

}


.main-popup-adotar {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(0.3);
    z-index: 89;
    position: fixed;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;

}

.main-popup-adotar.aberto {

    transform: scale(1);
    z-index: 89;
    position: fixed;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-quero-adotar-button {
    max-height: 200px;
    border-radius: 5px;
    padding: 15px;
    width: 350px;
    background-color: var(--color-defaultW);
}

.box-quero-adotar-button h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-principal);
}

.box-quero-adotar-buttom p {
    font-size: 1.2em;
}

.box-quero-adotar-button p span {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-principal3);
}

.block {
    position: relative;
}

















/*---------------------------*/
/*----Meus Posts-------------*/
/*---------------------------*/
/*---------------------------*/

.principal-meus-posts {
    margin-top: 30px;
    margin-left: 200px;
}

.meus-posts{
    flex-wrap: wrap;
    gap: 40px;
}
.red-button {
    background-color: #c0392b;
}

.red-button:hover {
    background-color: var(--color-defaultW);
    color: #c0392b;
    border: 1px solid #c0392b;
}

























































/*------ Settings ------*/

.psw input {
    position: relative;
    width: 100%;
}

.eyesenha {
    right: 30px;
    --color: #707070;
    --size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
}

.eyesenha .eye-slash {
    position: absolute;
    animation: keyframes-fill .5s;
}

.eyesenha .eye {
    position: absolute;
    animation: keyframes-fill .5s;
    display: none;
}

/* ------ On check event ------ */
.eyesenha input:checked~.eye-slash {
    display: none;
}

.eyesenha input:checked~.eye {
    display: block;
}

/* ------ Hide the default checkbox ------ */
.eyesenha input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
    }
}


/*---------------------------*/
/*-----------AJUDA----------*/
/*---------------------------*/
/*---------------------------*/
.body-ajuda {
    height: 100vh;

}

.conteudo-ajuda {
    background-color: var(--color-defaultW);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.15);
    max-width: 960px;
    padding: 0px 20px;
    height: 100vh;
}

.titulo-ajuda {

    margin: 100px 0 15px 0;
    font-weight: bold;
    font-size: 2.5em;
    color: var(--color-principal2);
    text-align: center;
}

.sub-titulo-ajuda {
    color: var(--color-defaultB);
    font-weight: bold;
    font-size: 1.5em;
    margin: 25px 0 15px 0;
    text-align: center;
}

.text-ajuda {
    text-align: justify;
    font-size: 1.2em;
}

#blue-ajuda {
    color: var(--color-principal);
}
















/*---------------------------*/
/*-----------PROFILE---------*/
/*---------------------------*/
/*---------------------------*/

.foto-user {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-out 0.2s;

}

.foto-user:hover {
    transform: scale(1.1);
    transition: ease-in 0.2s;
}

.nav-menu {
    position: relative;
}

.sub-menu-wrap {
    z-index: 3;
    position: absolute;
    top: 100px;
    right: 0;
    width: 350px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: var(--color-defaultW);
    margin: 10px;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;

}

.sub-menu {
    padding: 20px;
    margin: 10px;

}

.user-info {
    display: flex;
    align-items: center;

}

.user-info img {
    margin-right: 15px;
}

.user-info h3 {
    color: #272727;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #D4D4D4;
    margin: 15px 0 10px;
}

.sub-menu-link {
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link i {
    width: 40px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 1, 375em;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translatex(5px);
}

.sub-menu-link:hover p {
    font-weight: bold;
}







































/*--------------------------------
/*--------------------------------
/*--------------------------------
/*--------------------------------
/*--------------------------------
/* BARRA MENU */

main {
    margin-top: 120px;
}

.navigation {
    min-height: 70px;
    z-index: 90;
    position: fixed;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background: var(--color-defaultW);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}

.navigation .logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
}

.navigation .logo img {
    width: 4.0625rem;
    height: 3.6875rem;
}

.navigation .logo .text-logo {
    color: var(--primary, #123BEB);
    font-family: 'Simply Rounded', sans-serif;
    font-size: 2.800rem;
}

.navigation .nav-menu {
    display: flex;
    align-items: center;
    gap: 1.18rem;
    font-size: 1.4em;
}

.navigation .nav-menu .nav-item a {
    padding: 0.62rem;
    background-color: var(--color-principal2);
    border-radius: 1rem;
    text-decoration: none;
    color: var(--color-defaultW);
    transition: 0.2s ease;
}

.navigation .nav-menu .nav-item a:hover {
    background-color: var(--color-defaultW);
    color: var(--color-principal2);
    border: 1px var(--color-principal2) inset;
    cursor: pointer;

}

.navigation .nav-menu .nav-item a:visited {
    text-decoration: none;
}



.navigation .nav-menu i {
    cursor: pointer;
    font-size: 2rem;
    color: var(--color-principal2);
}


#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    display: none;
    height: calc(4px * 3 + 11px * 2);
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: var(--color-principal);
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}

/***** Spin Animation *****/

.bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

.bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

#checkbox:checked+.toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s, calc(0s + 0.35s);
}

#checkbox:checked+.toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
}

#checkbox:checked+.toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s, calc(0s + 0.35s);
}

.mobile-menu {
    display: none;
}

/* RESPONSIVIDADE MENU */

@media (max-width: 1280px) {
    .navigation {
        padding: 18px 20px;
        transition: 0.3s ease-in-out;
    }

}

@media (max-width: 1049px) {

    .text-logo {
        display: none;
    }

    .navigation .nav-menu .nav-item {
        display: none;
    }

    .navigation .nav-menu li:nth-child(1) i {
        display: none;
    }

    .navigation .nav-menu {
        gap: 0;
    }

    .sub-menu-wrap {
        left: 40%;
        transform: translate(-50%, 0%);
    }

    .toggle {
        display: block;
    }

    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.459);
        backdrop-filter: blur(10px);
        transition: all 0.5s ease-in;
        z-index: 89;

    }

    .mobile-menu .nav-menu {
        left: 50%;
        top: 5%;
        position: fixed;
        padding-top: 110px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.8rem;
        transform: translate(-50%, 0%);
        transition: all 0.5s ease-in;
    }

    .mobile-menu .nav-menu .nav-item a {
        width: 100%;
        text-decoration: none;
        color: var(--color-principal);
        font-size: 1.4rem;
        transition: 0.2s ease;
        font-weight: 500
    }

    .mobile-menu .nav-menu .nav-item {
        background: transparent;
        border: none;
        padding: 1em 1.5em;
        color: #ffedd3;
        text-transform: uppercase;
        position: relative;
        transition: .5s ease;
    }

    .mobile-menu .nav-menu .nav-item a::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: var(--color-principal2);
        transition: .5s ease;
    }

    .mobile-menu .nav-menu .nav-item a:hover {
        color: var(--color-defaultW);
        transition-delay: .5s;
    }

    .mobile-menu .nav-menu .nav-item a:hover::before {
        width: 100%;
    }

    .mobile-menu .nav-menu .nav-item a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        background-color: var(--color-principal2);
        transition: .4s ease;
        z-index: -1;
    }

    .mobile-menu .nav-menu .nav-item a:hover::after {
        height: 100%;
        transition-delay: 0.4s;
        color: aliceblue;
    }

    .open {
        display: block;
    }

}

/* FIM MENU */
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/* SECTION SLIDES */

.slider {
    margin-top: 30px;
    max-width: 1400px;
    height: 466px;
    overflow: hidden;
    border-radius: 10px;

}

.slides {
    width: 400%;
    height: 466px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    transition: 2s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manual-navigation {
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-btn {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: var(--color-principal);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}


/* SECTION Animais */

.position-title-h1 {
    position: absolute;
    top: 0;
    left: 0;
}

.no-register {
    gap: 20px;
}

.no-register p {
    font-size: 1.8em;
}

.animais-regiao {
    position: relative;
    margin-top: 90px;
    margin-bottom: 90px;
    gap: 40px;

}

.conteudo-principal-animais-regiao {
    margin-top: 100px;
}

.swiper-wrapper {
    padding: 20px;
    margin-bottom: 20px;
}

.swiper {
    max-width: 1400px;
    height: 100%;
}

.swiper-slide {
    min-width: 334px;
    max-width: 334px;
    min-height: 468px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.swiper-slide .post-animal-img {
    border-radius: 5px 5px 0px 0px;
    height: 307px;
    object-fit: cover;
    width: 100%;
}

.swiper-slide .post-animal-button {
    height: 44px;
    border: none;
    background-color: var(--color-principal2);
    color: var(--color-defaultW);
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 5px;
    width: 80%;
    margin: 27px 0px 0px 34px;
    font-family: var(--font-default);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.swiper-slide .post-animal-button:hover {
    background-color: var(--color-defaultW);
    color: var(--color-principal2);
    border: 1px var(--color-principal2) inset;
    transition: all 0.2s ease-in;
}

.rodape {
    height: 335px;
    background-color: var(--color-principal2);
}

.rodape img {
    max-width: 250px;
    min-width: 170px;
    margin-bottom: 10px;
}

.rodape p {
    color: var(--color-defaultW)
}