@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/simply-rounded');

:root {
    --color-defaultB: #000;
    --color-defaultW: #fff;
    --color-principal: #0003ff;
    --color-principal2: #3335ff;
    --color-principal3: #4162EF;

    --font-default: 'Montserrat', sans-serif;

}

body {
    min-height: 100vh;
    width: 100%;
    font-family: var(--font-default);
}

.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-itens {
    align-items: center;
}

.j-content {
    justify-content: center;
}

#opcao{
    text-align: center;
}
#amarelo{
    color: var(--color-principal);
    text-decoration: none;
}

/*LOGIN*/

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 40px;
    max-width: 560px;
    height: 580px;
    gap: 30px;
    background-color: var(--color-defaultW);
    border-radius: 10px;
    box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.25);
}


.title-form {
    font-size: 3.75em;
    color: var(--color-principal3);
}

.form-login-principal {
    gap: 40px;
    width: 90%;
}

.div-buttons-social {
    gap: 25px;
}

.button-social {
    font-family: var(--font-default);
    font-size: 1.25em;
    padding: 10px;
    border: none;
    background-color: var(--color-defaultW);
    box-shadow: 4px 0px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    gap: 10px;
    width: 100%;
    transition: ease-out 0.2s;

}

.button-social:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}

.mid-form {
    gap: 10px;
}

.mid-form hr {
    width: 213px;
}

.div-inputs {
    gap: 25px;
}

.div-inputs input {
    font-size: 1.10em;
    font-family: var(--font-default);

    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 10px;
    max-width: 100%;
    padding: 16px;
}

.login-button {
    background-color: var(--color-principal3);
    color: var(--color-defaultW);
    border: none;
    letter-spacing: 5px;
    font-size: 1.4em;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px #7C95FF;
    transition: ease-out 0.2s;
}

.login-button:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}

.fail-login {
    color: rgb(255, 48, 48);
}


/*Register*/

.button-close{
    position: absolute;
    top: 28px;
    left: 28px;
}
.body-register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-register .form-box-register {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 40px;
    width: 560px;
    height: 630px;
    gap: 25px;
    background-color: var(--color-defaultW);
    border-radius: 10px;
    box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.25);
}


.body-register .title-form {
    font-size: 3.75em;
    color: var(--color-principal3);
    margin-top: -15px;
}

.body-register .form-login-principal {
    gap: 20px;
    width: 90%;
}

.body-register .div-buttons-social {
    width: 100%;
    gap: 25px;

}

.body-register .button-social {
    font-family: var(--font-default);
    font-size: 1.25em;
    padding: 10px;
    border: none;
    background-color: var(--color-defaultW);
    box-shadow: 4px 0px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    gap: 10px;
    width: 100%;
    transition: ease-out 0.2s;

}

.body-register .button-social:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}

.body-register .mid-form {
    margin: 20px 0 20px 0;
    gap: 10px;
}

.body-register .mid-form hr {
    width: 213px;
}


.body-register .div-inputs input {
    font-size: 1.10em;
    font-family: var(--font-default);

    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 10px;
    max-width: 100%;
    padding: 16px;
}

.prox-button-register, .voltar-button-register, .cadastrar-button {
    float: right;
    border: none;

    background-color: var(--color-principal3);
    color: var(--color-defaultW);
    letter-spacing: 3px;
    font-size: 1.4em;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px #7C95FF;
    transition: ease-out 0.2s;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
}

.voltar-button-register, .cadastrar-button{
    width: 45%;
}
.voltar-button-register{
    color: var(--color-principal3);
    background-color: var(--color-defaultW);
    border: 1px solid var(--color-principal3);
}

.group-buttons{
    justify-content: space-between;
}

.body-register .prox-button-register:hover, .voltar-button-register:hover,
.cadastrar-button:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}

.step{
    display:none;
}

.step.active {
    display: block;
}

.form-group {
    gap: 5px
}

.sub-title-etapa{
    text-align: center;
    margin-bottom: 20px;
}






















/*---------------------------*/
/*-----------PROFILE---------*/
/*---------------------------*/
/*---------------------------*/

.foto-user {
    max-width: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-out 0.2s;

}
.foto-user:hover{
    transform: scale(1.1);
    transition: ease-in 0.2s;
}

.sub-menu-wrap{
    position: absolute;
    top:100%;
    right: 5%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background-color: var(--color-defaultW);
    padding: 20px;
    margin: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.user-info{
    display: flex;
    align-items: center;

}

.user-info img{
    max-width: 70px;
    border-radius: 50%;
    margin-right: 15px;
}
.user-info h3{
    color: #272727;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #D4D4D4;
    margin: 15px 0 10px;
}

.sub-menu-link{
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link i{
    width: 40px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 1,375em;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translatex(5px);
}

.sub-menu-link:hover p{
    font-weight: bold;
}







































/*--------------------------------
/*--------------------------------
/*--------------------------------
/*--------------------------------
/*--------------------------------
/* BARRA MENU */

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    background: var(--color-defaultW);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}

.navigation .logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
}

.navigation .logo img {
    width: 4.0625rem;
    height: 3.6875rem;
}

.navigation .logo .text-logo {
    color: var(--primary, #123BEB);
    font-family: 'Simply Rounded', sans-serif;
    font-size: 2.125rem;
}

.navigation .nav-menu {
    display: flex;
    align-items: center;
    gap: 1.18rem;
}

.navigation .nav-menu .nav-item a {
    padding: 0.62rem;
    background-color: var(--color-principal2);
    border-radius: 0.31rem;
    text-decoration: none;
    color: var(--color-defaultW);
    transition: 0.2s ease;
}

.navigation .nav-menu .nav-item a:hover {
    background-color: var(--color-defaultW);
    color: var(--color-principal2);
    border: 1px var(--color-principal2) inset;
    cursor: pointer;

}

.navigation .nav-menu .nav-item a:visited {
    text-decoration: none;
}

.navigation .nav-menu i {
    cursor: pointer;
    font-size: 1.8315rem;
    color: var(--color-principal2);
}


#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    display: none;
    height: calc(4px * 3 + 11px * 2);
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: var(--color-principal);
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}

/***** Spin Animation *****/

.bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

.bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

#checkbox:checked+.toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s, calc(0s + 0.35s);
}

#checkbox:checked+.toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
}

#checkbox:checked+.toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s, calc(0s + 0.35s);
}

.mobile-menu {
    display: none;
}

/* RESPONSIVIDADE MENU */

@media (max-width: 983px) {
    .navigation {
        padding: 18px 20px;
        transition: 0.3s ease-in-out;
    }

}

@media (max-width: 883px) {

    .navigation .nav-menu {
        display: none;
    }

    .toggle {
        display: block;
    }

    .mobile-menu .nav-menu {
        padding-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.8rem;
    }

    .mobile-menu .nav-menu .nav-item a {
        text-decoration: none;
        color: var(--color-principal);
        font-size: 1.5rem;
        transition: 0.2s ease;
    }

    .mobile-menu .nav-menu .nav-item:hover {
        transform: scale(1.5);
        transition: 0.5s ease;
    }

    .open {
        display: block;
    }

}

/* FIM MENU */
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/* SECTION SLIDES */


  


