@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/simply-rounded');

:root {
    --color-defaultB: #000;
    --color-defaultW: #fff;
    --color-principal: #0003ff;
    --color-principal2: #3335ff;
    --color-principal3: #4162EF;

    --font-default: 'Montserrat', sans-serif;

}

body {
    height: 100vh;
    font-family: var(--font-default);
}

.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-itens {
    align-items: center;
}

.j-content {
    justify-content: center;
}

/*LOGIN*/

.form-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 40px;
    max-width: 560px;
    height: 530px;
    gap: 30px;
    background-color: var(--color-defaultW);
    border-radius: 10px;
    box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.25);
}


.title-form {
    font-size: 3.75em;
    color: var(--color-principal3);
}

.form-login-principal {
    gap: 40px;
    width: 90%;
}

.div-buttons-social {
    gap: 25px;
}

.button-social {
    font-family: var(--font-default);
    font-size: 1.25em;
    padding: 10px;
    border: none;
    background-color: var(--color-defaultW);
    box-shadow: 4px 0px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    gap: 10px;
    width: 100%;
    transition: ease-out 0.2s;

}

.button-social:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}

.mid-form {
    gap: 10px;
}

.mid-form hr {
    width: 213px;
}

.div-inputs {
    gap: 25px;
}

.div-inputs input {
    font-size: 1.10em;
    font-family: var(--font-default);
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 10px;
    max-width: 100%;
    padding: 16px;
}

.login-button {
    background-color: var(--color-principal3);
    color: var(--color-defaultW);
    border: none;
    letter-spacing: 5px;
    font-size: 1.25em;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px #7C95FF;
    transition: ease-out 0.2s;
}

.login-button:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}























































/*--------------------------------
/*--------------------------------
/*--------------------------------
/*--------------------------------
/*--------------------------------
/* BARRA MENU */

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    background: var(--color-defaultW);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}

.navigation .logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
}

.navigation .logo img {
    width: 4.0625rem;
    height: 3.6875rem;
}

.navigation .logo .text-logo {
    color: var(--primary, #123BEB);
    font-family: 'Simply Rounded', sans-serif;
    font-size: 2.125rem;
}

.navigation .nav-menu {
    display: flex;
    align-items: center;
    gap: 1.18rem;
}

.navigation .nav-menu .nav-item a {
    padding: 0.62rem;
    background-color: var(--color-principal2);
    border-radius: 0.31rem;
    text-decoration: none;
    color: var(--color-defaultW);
    transition: 0.2s ease;
}

.navigation .nav-menu .nav-item a:hover {
    background-color: var(--color-defaultW);
    color: var(--color-principal2);
    border: 1px var(--color-principal2) inset;
    cursor: pointer;

}

.navigation .nav-menu .nav-item a:visited {
    text-decoration: none;
}

.navigation .nav-menu:hover> :not(:hover) {
    opacity: .4;
    transform: scale(0.9);
    transition: 0.2s ease;
}

.navigation .nav-menu i {
    cursor: pointer;
    font-size: 1.8315rem;
}

#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    display: none;
    height: calc(4px * 3 + 11px * 2);
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: var(--color-principal);
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}

/***** Spin Animation *****/

.bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

.bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

#checkbox:checked+.toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s, calc(0s + 0.35s);
}

#checkbox:checked+.toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
}

#checkbox:checked+.toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s, calc(0s + 0.35s);
}

.mobile-menu {
    display: none;
}

/* RESPONSIVIDADE MENU */

@media (max-width: 868px) {
    .navigation {
        padding: 18px 20px;
        transition: 0.3s ease-in-out;
    }

}

@media (max-width: 768px) {

    .navigation .nav-menu {
        display: none;
    }

    .toggle {
        display: block;
    }

    .mobile-menu .nav-menu {
        padding-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.8rem;
    }

    .mobile-menu .nav-menu .nav-item a {
        text-decoration: none;
        color: var(--color-principal);
        font-size: 1.5rem;
        transition: 0.2s ease;
    }

    .mobile-menu .nav-menu .nav-item:hover {
        transform: scale(1.5);
        transition: 0.5s ease;
    }

    .open {
        display: block;
    }

}

/* FIM MENU */
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/* SECTION SLIDES */

.slides {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}