@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/simply-rounded');

:root {
    --color-defaultB: #000;
    --color-defaultW: #fff;
    --color-principal: #0003ff;
    --color-principal2: #3335ff;
    --color-principal3: #4162EF;

    --font-default: 'Montserrat', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    font-family: var(--font-default);
}

.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-itens {
    align-items: center;
}

.j-content {
    justify-content: center;
}

#opcao {
    text-align: center;
}

#amarelo {
    color: var(--color-principal);
    text-decoration: none;
}

/*LOGIN*/

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 40px;
    max-width: 560px;
    height: 580px;
    gap: 30px;
    background-color: var(--color-defaultW);
    border-radius: 10px;
    box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.25);
}


.title-form {
    font-size: 3.75em;
    color: var(--color-principal3);
}

.form-login-principal {
    gap: 40px;
    width: 90%;
}

.div-buttons-social {
    gap: 25px;
}

.button-social {
    font-family: var(--font-default);
    font-size: 1.25em;
    padding: 10px;
    border: none;
    background-color: var(--color-defaultW);
    box-shadow: 4px 0px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    gap: 10px;
    width: 100%;
    transition: ease-out 0.2s;

}

.button-social:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}

.mid-form {
    gap: 10px;
    margin-bottom: -20px;
}

.mid-form hr {
    width: 213px;
}

.div-inputs {
    gap: 25px;
}

.div-inputs input {
    font-size: 1.10em;
    font-family: var(--font-default);

    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 10px;
    max-width: 100%;
    padding: 16px;
}

.login-button {
    background-color: var(--color-principal3);
    color: var(--color-defaultW);
    border: none;
    letter-spacing: 5px;
    font-size: 1.4em;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px #7C95FF;
    transition: ease-out 0.2s;
}

.login-button:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}

.fail-login {
    color: rgb(255, 48, 48);
}


/*Register*/

.button-close {
    position: absolute;
    top: 28px;
    left: 28px;
}

.body-register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-register .form-box-register {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 40px;
    width: 560px;
    height: 630px;
    gap: 25px;
    background-color: var(--color-defaultW);
    border-radius: 10px;
    box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.25);
}


.body-register .title-form {
    font-size: 3.75em;
    color: var(--color-principal3);
    margin-top: -15px;
}

.body-register .form-login-principal {
    gap: 20px;
    width: 90%;
}

.body-register .div-buttons-social {
    width: 100%;
    gap: 25px;

}

.body-register .button-social {
    font-family: var(--font-default);
    font-size: 1.25em;
    padding: 10px;
    border: none;
    background-color: var(--color-defaultW);
    box-shadow: 4px 0px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    gap: 10px;
    width: 100%;
    transition: ease-out 0.2s;

}

.body-register .button-social:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}

.body-register .mid-form {
    margin: 20px 0 20px 0;
    gap: 10px;
}

.body-register .mid-form hr {
    width: 213px;
}


.body-register .div-inputs input {
    font-size: 1.10em;
    font-family: var(--font-default);
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 10px;
    max-width: 100%;
    padding: 16px;
}

.prox-button-register,
.voltar-button-register,
.cadastrar-button {
    float: right;
    border: none;

    background-color: var(--color-principal3);
    color: var(--color-defaultW);
    letter-spacing: 3px;
    font-size: 1.4em;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px #7C95FF;
    transition: ease-out 0.2s;
    margin: 10px 0;
    width: 50%;
}

.prox-button-register {
    width: 100%;
}

.voltar-button-register,
.cadastrar-button {
    width: 45%;
}

.voltar-button-register {
    color: var(--color-principal3);
    background-color: var(--color-defaultW);
    border: 1px solid var(--color-principal3);
}

.group-buttons {
    justify-content: space-between;
}

.body-register .prox-button-register:hover,
.voltar-button-register:hover,
.cadastrar-button:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.form-group {
    gap: 15px
}

.sub-title-etapa {
    text-align: center;
    margin-bottom: 20px;
}


/*---------------------------*/
/*----Formulario adotar------*/
/*---------------------------*/
/*---------------------------*/

.form-adotar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 40px;
    min-width: 375px;
    width: 800px;
    max-width: 1000px;
    height: 720px;
    gap: 10px;
    background-color: var(--color-defaultW);
    border-radius: 10px;
    box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.25);
}

.main-quero-adotar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-form-adotar {
    margin: 30px 0;
    gap: 40px;
}

.submit-button {
    background-color: var(--color-principal3);
    color: var(--color-defaultW);
    border: none;
    letter-spacing: 5px;
    font-size: 1.4em;
    padding: 16px ;
    border-radius: 10px;
    box-shadow: 4px 4px 9px #7C95FF;
    transition: ease-out 0.2s;
}

.submit-button:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}

.div-inputs-adotar {
    max-width: 100%;
    padding: 10px;
    gap: 15px;
}

.div-inputs-adotar input {
    font-size: 1.10em;
    font-family: var(--font-default);

    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
}

/* radios */

.radio-button-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-button__label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.radio-button__custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s ease;
}

.radio-button__input:checked+.radio-button__label .radio-button__custom {
    background-color: var(--color-principal3);
    border-color: transparent;
    transform: scale(0.8);
    box-shadow: 0 0 20px var(--color-principal3);
}

.radio-button__input:checked+.radio-button__label {
    color: var(--color-principal3);
}

.radio-button__label:hover .radio-button__custom {
    transform: scale(1.2);
    border-color: var(--color-principal3);
    box-shadow: 0 0 20px var(--color-principal3);
}

/* selects */

.select-menu {
    width: 380px;
}

.select-menu .select-btn {
    display: flex;
    height: 43px;
    background: #fff;
    padding: 10px;
    font-size: 1.10em;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option:hover {
    background: #F2F2F2;
}

.option i {
    font-size: 25px;
    margin-right: 12px;
    color: rgba(0, 0, 0, 0.7)
}

.option .option-text {
    font-size: 18px;
    color: #333;
}


/*---------------------------*/
/*----Quedo doar-------------*/
/*---------------------------*/
/*---------------------------*/

.titulos-paginas {
    font-size: 2.5em;
    margin-bottom: 30px;
    font-weight: 500;
}

.principal-quero-doar {
    gap: 40px;
}

.principal-conteudo-quedo-doar {
    margin-top: 20px;
}

.barra-lateral-filtros {
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
    height: 80vh;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.1);
}

.titulo-filtros {
    font-size: 2em;
}

.form-filtro {
    margin: 10px;
    gap: 10px;
}

.filtrar-button {
    height: 44px;
    border: none;
    background-color: var(--color-principal2);
    color: var(--color-defaultW);
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
    font-family: var(--font-default);
}

.animais-disponiveis {
    gap: 39px;
    flex-wrap: wrap;
}


.post-animal {
    position: relative;
    width: 334px;
    height: 468px;
    border-radius: 5px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.swiper-slide{
    max-width: 334px;
    min-height: 468px;
    margin-right: 30px;
}

.swiper-slide .post-animal-img{
    border-radius: 5px 5px 0px 0px;
    height: 307px;
    object-fit: cover;
    width: 100%;
}

.swiper-slide .post-animal-button {
    height: 44px;
    border: none;
    background-color: var(--color-principal2);
    color: var(--color-defaultW);
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 10px;
    width: 80%;
    margin: 27px 0px 0px 34px;
    font-family: var(--font-default);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.post-animal-nome {
    margin: 19px 0px 0px 34px;
    font-size: 1.25em;
}

.post-animal-descricao {
    margin: 8px 0px 0px 34px;
}

.post-animal-sexo {
    position: absolute;
    top: 277px;
    left: 127px;
    width: 80px;
}

.post-animal-button {
    height: 44px;
    border: none;
    background-color: var(--color-principal2);
    color: var(--color-defaultW);
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 10px;
    width: 80%;
    margin: 27px 0px 0px 34px;
    font-family: var(--font-default);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.post-animal-button:hover {
    background-color: var(--color-defaultW);
    color: var(--color-principal2);
    border: 1px var(--color-principal2) inset;
    transition: all 0.2s ease-in;
}


.post-animal-img {
    border-radius: 5px 5px 0px 0px;
    height: 307px;
    object-fit: cover;
}

.post-animal-nome {
    margin: 19px 0px 0px 34px;
    font-size: 1.25em;
}

.post-animal-descricao {
    margin: 8px 0px 0px 34px;
}

.post-animal-sexo {
    position: absolute;
    top: 277px;
    left: 127px;
    width: 80px;
}

.post-animal-button {
    height: 44px;
    border: none;
    background-color: var(--color-principal2);
    color: var(--color-defaultW);
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 10px;
    width: 80%;
    margin: 27px 0px 0px 34px;
    font-family: var(--font-default);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.post-animal-button:hover {
    background-color: var(--color-defaultW);
    color: var(--color-principal2);
    border: 1px var(--color-principal2) inset;
    transition: all 0.2s ease-in;
}

/* popup vermais */

.main-popup-vermais {
    z-index: 91;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;

}



.box-vermais {
    position: relative;
    background-color: var(--color-defaultW);
    min-width: 580px;
    width: 879px;
    min-height: 487px;
    border-radius: 10px;
    padding: 53px 61px 60px 60px;
    gap: 10px;
}

.principal-conteudo-vermais {
    gap: 10px;
}

.titulo-box-vermais {
    font-size: 2.125em;
}

.nome-vermais {
    color: var(--color-principal2);
    font-weight: bold;
}

.img-animal-vermais {
    width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.inf-animal-vermais {
    border-radius: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 34px 23px 57px;
    gap: 14px;
}

.inf-animal-vermais p {
    font-size: 1.25em;
}

.status-vermais {
    text-align: center;
}

.sts-vac-cas {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    gap: 97px;
}

.sts-vac-cas i {
    font-size: 3em;
}

.close-vermais {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 4em;
    cursor: pointer;
}




































/*------ Settings ------*/

.psw input {
    position: relative;
    width: 100%;
}

.eyesenha {
    right: 30px;
    --color: #707070;
    --size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
}

.eyesenha .eye-slash {
    position: absolute;
    animation: keyframes-fill .5s;
}

.eyesenha .eye {
    position: absolute;
    animation: keyframes-fill .5s;
    display: none;
}

/* ------ On check event ------ */
.eyesenha input:checked~.eye-slash {
    display: none;
}

.eyesenha input:checked~.eye {
    display: block;
}

/* ------ Hide the default checkbox ------ */
.eyesenha input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
    }
}


/*---------------------------*/
/*-----------AJUDA----------*/
/*---------------------------*/
/*---------------------------*/
.body-ajuda {
    height: 100vh;
}

.container-ajuda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-default);
    max-width: 960px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    height: 100vh;
}

.titulo-ajuda {
    margin: -30px 0 15px 0;
    font-weight: bold;
    font-size: 2.5em;
    color: var(--color-principal2);
    text-align: center;
}

.sub-titulo-ajuda {
    color: var(--color-defaultB);
    font-weight: bold;
    font-size: 1.5em;
    margin: 25px 0 15px 0;
    text-align: center;
}

.text-ajuda {
    text-align: justify;
    font-size: 1.2em;
}

#blue-ajuda {
    color: var(--color-principal);
}
















/*---------------------------*/
/*-----------PROFILE---------*/
/*---------------------------*/
/*---------------------------*/

.foto-user {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-out 0.2s;

}

.foto-user:hover {
    transform: scale(1.1);
    transition: ease-in 0.2s;
}

.sub-menu-wrap {
    z-index: 3;
    position: absolute;
    top: 100%;
    right: 13%;
    width: 350px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: var(--color-defaultW);
    margin: 10px;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;

}

.sub-menu {
    padding: 20px;
    margin: 10px;

}

.user-info {
    display: flex;
    align-items: center;

}

.user-info img {
    margin-right: 15px;
}

.user-info h3 {
    color: #272727;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #D4D4D4;
    margin: 15px 0 10px;
}

.sub-menu-link {
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link i {
    width: 40px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 1, 375em;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translatex(5px);
}

.sub-menu-link:hover p {
    font-weight: bold;
}







































/*--------------------------------
/*--------------------------------
/*--------------------------------
/*--------------------------------
/*--------------------------------
/* BARRA MENU */

main {
    margin-top: 120px;
}

.navigation {
    min-height: 70px;
    z-index: 90;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background: var(--color-defaultW);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}

.navigation .logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
}

.navigation .logo img {
    width: 4.0625rem;
    height: 3.6875rem;
}

.navigation .logo .text-logo {
    color: var(--primary, #123BEB);
    font-family: 'Simply Rounded', sans-serif;
    font-size: 2.800rem;
}

.navigation .nav-menu {
    display: flex;
    align-items: center;
    gap: 1.18rem;
    font-size: 1.4em;
}

.navigation .nav-menu .nav-item a {
    padding: 0.62rem;
    background-color: var(--color-principal2);
    border-radius: 1rem;
    text-decoration: none;
    color: var(--color-defaultW);
    transition: 0.2s ease;
}

.navigation .nav-menu .nav-item a:hover {
    background-color: var(--color-defaultW);
    color: var(--color-principal2);
    border: 1px var(--color-principal2) inset;
    cursor: pointer;

}

.navigation .nav-menu .nav-item a:visited {
    text-decoration: none;
}

.navigation .nav-menu i {
    cursor: pointer;
    font-size: 2rem;
    color: var(--color-principal2);
}


#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    display: none;
    height: calc(4px * 3 + 11px * 2);
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: var(--color-principal);
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}

/***** Spin Animation *****/

.bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

.bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

#checkbox:checked+.toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s, calc(0s + 0.35s);
}

#checkbox:checked+.toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
}

#checkbox:checked+.toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s, calc(0s + 0.35s);
}

.mobile-menu {
    display: none;
}

/* RESPONSIVIDADE MENU */

@media (max-width: 1280px) {
    .navigation {
        padding: 18px 20px;
        transition: 0.3s ease-in-out;
    }

}

@media (max-width: 1049px) {

    .navigation .nav-menu {
        display: none;
    }

    .toggle {
        display: block;
    }

    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.459);
        backdrop-filter: blur(10px);
        transition: all 0.5s ease-in;
        z-index: 89;

    }

    .mobile-menu .nav-menu {
        left: 50%;
        top: 5%;
        position: fixed;
        padding-top: 110px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.8rem;
        transform: translate(-50%, 0%);
        transition: all 0.5s ease-in;
    }

    .mobile-menu .nav-menu .nav-item a {
        text-decoration: none;
        color: var(--color-principal);
        font-size: 1.5rem;
        transition: 0.2s ease;
        font-weight: 500
    }

    .mobile-menu .nav-menu .nav-item {
        font-size: 17px;
        background: transparent;
        border: none;
        padding: 1em 1.5em;
        color: #ffedd3;
        text-transform: uppercase;
        position: relative;
        transition: .5s ease;
    }

    .mobile-menu .nav-menu .nav-item a::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: var(--color-principal2);
        transition: .5s ease;
    }

    .mobile-menu .nav-menu .nav-item a:hover {
        color: var(--color-defaultW);
        transition-delay: .5s;
    }

    .mobile-menu .nav-menu .nav-item a:hover::before {
        width: 100%;
    }

    .mobile-menu .nav-menu .nav-item a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        background-color: var(--color-principal2);
        transition: .4s ease;
        z-index: -1;
    }

    .mobile-menu .nav-menu .nav-item a:hover::after {
        height: 100%;
        transition-delay: 0.4s;
        color: aliceblue;
    }

    .open {
        display: block;
    }

}

/* FIM MENU */
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/* SECTION SLIDES */

.slider {
    margin-top: 30px;
    max-width: 1400px;
    height: 466px;
    overflow: hidden;
    border-radius: 10px;

}

.slides {
    width: 400%;
    height: 466px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    transition: 2s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manual-navigation {
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-btn {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: var(--color-principal);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}


/* SECTION Animais */

.animais-regiao {
    margin: 90px 180px;
    max-height: 600px;
    max-width: 1080px;
    gap: 40px;

}

.swiper-wrapper{
    padding: 20px;
    margin-bottom: 20px;
}




