@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
   --color-defaultB: #000;
   --color-lightB: #eee;
   --color-defaultW: #fff;
   --color-principal: #0003ff;
   --color-principal2: #3335ff;
   --color-principal3: #4162EF;
   --color-red: #e74c3c;
   --color-dark-red: #c0392b;
   --box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

   --font-default: 'Montserrat', sans-serif;

}

* {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
}

*::-webkit-scrollbar {
   width: 10px;
}

*::-webkit-scrollbar-track {
   background-color: transparent;
}

*::-webkit-scrollbar-thumb {
   background-color: var(--color-principal2);
}

.btn,
.delete-btn {
   width: 100%;
   border-radius: 5px;
   padding: 10px 30px;
   color: var(--color-defaultW);
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
   margin-top: 10px;
}

.btn {
   background-color: var(--color-principal2);
}

.btn:hover {
   background-color: var(--color-principal);
}

.delete-btn {
   background-color: var(--color-red);
}

.delete-btn:hover {
   background-color: var(--color-dark-red);
}

.message {
   margin: 10px 0;
   width: 100%;
   border-radius: 5px;
   padding: 10px;
   text-align: center;
   background-color: var(--color-red);
   color: var(--color-defaultW);
   font-size: 20px;
}

.form-container {
   min-height: 100vh;
   background-color: var(--color-lightB);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
}

.form-container form {
   padding: 20px;
   background-color: var(--color-defaultW);
   box-shadow: var(--box-shadow);
   text-align: center;
   width: 500px;
   border-radius: 5px;
}

.form-container form h3 {
   margin-bottom: 10px;
   font-size: 30px;
   color: var(--color-defaultB);
   text-transform: uppercase;
}

.form-container form .box {
   width: 100%;
   border-radius: 5px;
   padding: 12px 14px;
   font-size: 18px;
   color: var(--color-defaultB);
   margin: 10px 0;
   background-color: var(--color-lightB);
}

.form-container form p {
   margin-top: 15px;
   font-size: 20px;
   color: var(--color-defaultB);
}

.form-container form p a {
   color: var(--color-red);
}

.form-container form p a:hover {
   text-decoration: underline;
}

.container {
   min-height: 100vh;
   background-color: var(--color-lightB);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
}

.container .profile {
   padding: 20px;
   background-color: var(--color-defaultW);
   box-shadow: var(--box-shadow);
   text-align: center;
   width: 400px;
   border-radius: 5px;
}

.container .profile img {
   height: 150px;
   width: 150px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
}

.container .profile h3 {
   margin: 5px 0;
   font-size: 20px;
   color: var(--color-defaultB);
}

.container .profile p {
   margin-top: 20px;
   color: var(--color-defaultB);
   font-size: 20px;
}

.container .profile p a {
   color: var(--color-red);
}

.container .profile p a:hover {
   text-decoration: underline;
}

.update-profile {
   min-height: 100vh;
   background-color: var(--color-lightB);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
}

.update-profile form {
   padding: 20px;
   background-color: var(--color-defaultW);
   box-shadow: var(--box-shadow);
   text-align: center;
   width: 700px;
   text-align: center;
   border-radius: 5px;
}

.update-profile form img {
   height: 200px;
   width: 200px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
}

.update-profile form .flex {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
   gap: 15px;
}

.update-profile form .flex .inputBox {
   width: 49%;
}

.update-profile form .flex .inputBox span {
   text-align: left;
   display: block;
   margin-top: 15px;
   font-size: 17px;
   color: var(--color-defaultB);
}

.update-profile form .flex .inputBox .box {
   width: 100%;
   border-radius: 5px;
   background-color: var(--color-lightB);
   padding: 12px 14px;
   font-size: 17px;
   color: var(--color-defaultB);
   margin-top: 10px;
}

@media (max-width:650px) {
   .update-profile form .flex {
      flex-wrap: wrap;
      gap: 0;
   }

   .update-profile form .flex .inputBox {
      width: 100%;
   }
}

.foto-user{
   border-radius: 50%;
   max-width: 200px;
   max-height: 200px;
   object-fit: cover;
}